body {
  background-color: lightblue;
  color: forestgreen;
  text-align: center;
  font-size: 50px;
  padding-top: 0px;
}

nav {
  padding-top: 250px;
}

li {
  display: inline;
  padding-left: 100px;
  padding-right: 100px;
}

h1{
  padding-top: 50px;
}